.part{
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;

    display: flex;
    align-items: center;
    gap: 10px;
}

.part-image{
    width: 64px;
    object-fit: contain;
}