@if(part$ | async; as parts)
{
<mat-grid-list cols="5" rowHeight="1:8">
    <mat-grid-tile colspan="1">
        <div class="list">
            <mat-form-field>
                <mat-label>Search by name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-selection-list>
                @for (cat of categories; track cat) {
                <mat-list-option>{{cat}}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <div class="maxWidthHeight">
            <mat-grid-list cols="4">
                @for(p of parts; track p.id)
                {
                <mat-grid-tile>
                    <mat-card appearance="outlined" class="maxWidthHeight">
                        <part [part]=p class="maxWidthHeight"></part>
                    </mat-card>
                </mat-grid-tile>
                }
            </mat-grid-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>
}