mat-grid-tile {
  background: lightblue;
}

.list {
    display: flex;
    flex-flow:row wrap;
    flex:2.5 0;
    justify-content:flex-start;
    padding: 5px;
    margin: 5px;
    border-radius:5px;
}