.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:column wrap;
    flex:2.5 0;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 5px;
    margin: 5px;
    border-radius:5px;
}

.maxWidthHeight{
  width: 100%;
  height: 100%;
}

.skrol{
  overflow-y: auto;
}