@if(part$ | async; as parts)
{
<mat-grid-list cols="5" rowHeight="1:4">
    <mat-grid-tile colspan="1">
        <mat-selection-list #shoes>
            @for (shoe of typesOfShoes; track shoe) {
            <mat-list-option>{{shoe}}</mat-list-option>
            }
        </mat-selection-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <div class="list">
            @for(p of parts; track p.id)
            {
            <mat-card appearance="outlined">
                    <part [part]=p></part>
            </mat-card>
            }
        </div>
    </mat-grid-tile>
</mat-grid-list>
}