.app-root{
    margin:20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav{
    flex: 1;
}

h1{
  font-size: 400%;
  font-weight: bold;
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  display: inline-block;
  line-height: 1.3;
  padding: 0.2em 0;
  margin: 0;
  margin-left: 20px;
}