.app-root {
    margin: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav {
    flex: 1;
}

.logo{
    background-color: lightgray;
}

h1 {
  font-size: 400%;
  font-weight: bold;
  background: linear-gradient(90deg, #FF4C4C, #DD0031, #7A001C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  display: inline-block;
  line-height: 1.3;
  padding: 0.2em 0;
  margin: 0;
  margin-left: 20px;
}
