h1{
    font-family: Arial, sans-serif;
}

.app-root{
    display: block;
    min-height: 100vh;
    background-color: #e0d6d6;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    gap: 10px;
}